<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0'">
  <title>Wiki-maps</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/container.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
  <link rel="stylesheet" href="/styles/createMap.css" type="text/css" />
  <link rel="stylesheet" href="/styles/editProfile.css" type="text/css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/client.js"></script>
  <script type="text/javascript" src="/scripts/clientLogin.js"></script>
  <script type="text/javascript" src="/scripts/clientRegister.js"></script>
  <script type="text/javascript" src="/scripts/createMap.js"></script>
  <script type="text/javascript" src="/scripts/editProfile.js"></script>

</head>

<body class="body">
  <nav>
    <div class="menu">
      <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
    </div>
    <div>
      <span class="nav-title">WIKI-MAPS</span>
    </div>
    <div id="user-toggle">
      <i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i>
    </div>
  </nav>
  <main class="main">
    <section class="map-container">
      <div>
        <ul class="menu-items">
          <!-- Menu items will be prepended here -->
        </ul>
      </div>
      <div class="creator">
        <!-- creator button will be prepended here -->
      </div>
      <div id="map">
        <%- include('partials/map.ejs') %>
          <!-- Map loads here on click -->
      </div>
      <div class="user-options">
        <p id="add-map">Add Map</p>
        <p id="profile">Profile</p>
        <p id="logout">Log Out</p>
      </div>
      <div class="map-options">
        <p class="add-point">Add Point</p>
        <p class="edit-point">Edit Point</p>
        <p class="delete-point">Remove Point</p>
      </div>
    </section>
    <section class="hide login-container">
      <div class="hide btn-log-reg-container">
        <div class="login-buttons">
          <button class="btn-login">Login</button>
          <button class="btn-reg">Register</button>
        </div>
      </div>
      <%- include('partials/login-page.ejs') %>
      <div class="register">
        <%- include('partials/register-page.ejs') %>
      </div>
    </section>
    <section class="hide profile-container">
      <%- include('partials/profile.ejs') %>
    </section>
    <section class="hide edit-profile-container">
      <%- include('partials/editProfile.ejs') %>
    </section>
    <section class="hide map-form-container">
      <%- include('partials/createMap.ejs') %>
    </section>
    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
        ({ key: "<%=apiKey%>", v: "weekly" });</script>
  </main>

  <script type="text/javascript" src="/scripts/maps.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&libraries=places&callback=initMap" async
    defer></script>
</body>

</html>
